/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
  }
  
  /* About Section */
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #f9fafb;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
  }
  
  .about-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
   
  }

  .about-image img:hover{
    transform: scale(1.01);
  }
  
  .about-description {
    padding: 20px;
    max-width: 700px;
  }
  
  .about-description h1 {
    font-size: 36px;
    color: #b30303;
    margin-bottom: 20px;
    font-weight: bold;
  }


  
  .about-description p {
    font-size: 20px;
    color: #303030;
    line-height: 1.7;
    font-weight: 300;
  }
  





    /* contact Section */
    
    .contact-content {
      display: flex;
      flex-direction: row;
      max-width:100%;
      /*background-color: #fff;*/
      border-radius: 10px;
     /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);*/
      overflow: hidden;
      width: 75%;


      justify-content: center;
      align-items: center;
      padding: 40px;
      width: 100%;
      
    }
    
    .contact-image img {
      width: 100%;
      height: auto;
      object-fit: cover;
      justify-content: right;
      align-items: right;
     
    }
  
    .contact-image img:hover{
      transform: scale(1.01);
    }
    
    .contact-description {
      padding: 20px;
      max-width: 700px;
    }
    
    .contact-description h1 {
      font-size: 36px;
      color: #9b0404;
      margin-bottom: 20px;
      font-weight: bold;
    }
  
    .contact-description li {
      font-size: 20px;
      color: #494949;
      line-height: 2.5;
      font-weight: bold;

    }
  
   
 


  /* Cards Section */
  .cards-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1400px;
    padding: 0 20px;
  }
  
  .card {
    background-color: #b60303;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    min-width: 410px;
    height: 285px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h2 {
    font-size: 24px;
    color: #7c0000;
    margin-bottom: 10px;
    background-color: #f1f0f0;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .card p {
    font-size: 16.5px;
    color: #e7e5e5;
    line-height: 1.7;
  }
  
  /* Image Section */

/*
  .image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    
    flex-direction: row;
    max-width: 4000px;

  }
  */
    .image {
      width: 100%;
      height: auto;
      object-fit: contain;
    
      overflow: hidden;
      justify-items:center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 3000px;
    size-adjust: 200%;
     
    }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .cards-section {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
    }
  
    .about-content {
      flex-direction: column;
      text-align: center;
    }
  
    .about-image img {
      width: 100%;
      max-width: 100%;
    }
  }
  